---
import { getLocaleFromUrl, useTranslations } from '../i18n/utils';

interface RelatedLink {
  title: string;
  href: string;
}

interface Props {
  links: RelatedLink[];
  heading?: string;
}

const { links, heading } = Astro.props;
const locale = getLocaleFromUrl(Astro.url);
const t = useTranslations(locale);
const resolvedHeading = heading ?? t('tool.relatedHeading');
---

{links.length > 0 && (
  <section class="related-links" aria-labelledby="related-heading">
    <h2 id="related-heading">{resolvedHeading}</h2>
    <ul>
      {links.map((link) => (
        <li>
          <a href={link.href}>{link.title}</a>
        </li>
      ))}
    </ul>
  </section>
)}
